{% load static %}

{#<footer>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                <div class="content">#}
{#                    <div class="brand"><img src="{% static "images/logo.png" %}" alt=""></div>#}
{#                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, accusamus.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                <div class="content">#}
{#                    <h5>About</h5>#}
{#                    <ul>#}
{#                        <li><a href=""><i class="icon ion-ios-contact"></i> About us</a></li>#}
{#                        <li><a href=""><i class="icon ion-ios-chatboxes"></i> Contact</a></li>#}
{#                        <li><a href=""><i class="icon ion-ios-list"></i> Portfolio</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                <div class="content">#}
{#                    <h5>Support</h5>#}
{#                    <ul>#}
{#                        <li><a href=""><i class="icon ion-ios-headset"></i> support@example.com</a></li>#}
{#                        <li><a href=""><i class="icon ion-ios-call"></i> +61 3 8376 6284#}
{#                        </a></li>#}
{#                        <li><a href=""><i class="icon ion-ios-settings"></i> Services</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                <div class="content">#}
{#                    <h5>Follow us</h5>#}
{#                    <ul class="social">#}
{#                        <li><a href=""><i class="icon ion-logo-facebook"></i> Facebook</a></li>#}
{#                        <li><a href=""><i class="icon ion-logo-twitter"></i> Twitter</a></li>#}
{#                        <li><a href=""><i class="icon ion-logo-instagram"></i> Instagram</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}

<!-- footer bottom -->
<div class="footer-bottom">
    <span>Copyright © All Right Reserved</span>
</div>
<!-- end footer bottom -->