{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- home intro -->
	<div id="home" class="home-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="content">
						<h2><span class="color-highlight">Ubah</span> Umpan Balik</h2>
						<h2>Menjadi <span class="color-highlight">Tindakan</span></h2>
						<p>Tetap terdepan dalam persaingan dengan teknologi analisis sentimen mutakhir.</p>
						<ul>
							<li><a href="" class="button">Get Started</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="content-image">
						<img src="{% static "images/header-img.png" %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home intro -->

	<!-- about us -->
	<div id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-xs-12">
					<div class="content-image">
						<img src="{% static "images/about-img.png" %}" alt="">
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-xs-12">
					<div class="content">
						<h3>Kenapa memilih kami?</h3>
						<p>Algoritme analisis sentimen kami yang canggih memberikan wawasan yang akurat dan real-time.</p>
						<p>Pelanggan kami mempercayai keandalan dan keakuratan wawasan kami.</p>
                        <p>Tim dukungan teknis kami selalu siap untuk membantu dan memastikan pengalaman yang lancar bagi pelanggan kami.</p>
						<ul>
							<li><span class="circle-list"></span>Teknologi canggih</li>
							<li><span class="circle-list"></span>Kepercayaan pelanggan</li>
							<li><span class="circle-list"></span>Dukungan tim ahli</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end about us -->

	<!-- process work -->
	<div id="process-work" class="process-work section">
		<div class="container">
			<div class="section-title">
				<h5 class="title-top">Process</h5>
				<h3>Bagaimana aplikasi kami berjalan</h3>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<i class="icon ion-ios-chatboxes"></i>
						<h5>Pesan</h5>
						<p>Masukan pesan dari teman atau pelanggan.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 align-self-end">
					<div class="content">
						<i class="icon ion-ios-cash"></i>
						<h5>Modeling</h5>
						<p>Pesan akan diproses menggunakan model yang dilatih dengan pembelajaran mendalam.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="content">
						<i class="icon ion-ios-search"></i>
						<h5>Klasifikasi</h5>
						<p>Diklasifikasikan berdasarkan analisis sentimen terhadap produk.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 align-self-end">
					<div class="content">
						<i class="icon ion-ios-checkmark-circle"></i>
						<h5>Hasil</h5>
						<p>Pesan akan diberi label positif, negatif atau netral.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end process work -->

	<!-- services -->
	<div id="services" class="services section-bottom-only">
		<div class="section-title">
			<h5 class="title-top">Services</h5>
			<h3>Layanan yang kami sediakan</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="content">
						<div class="serv-icon">
							<i class="icon ion-ios-wifi"></i>
							<span class="clone-icon"><i class="icon ion-logo-html5"></i></span>
						</div>
						<h5>Boardcasting Text</h5>
						<p>Memberikan frame output terhadap input yang dimasukan berupa frame teks berjalan</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content">
						<div class="serv-icon">
							<i class="icon ion-ios-navigate"></i>
							<span class="clone-icon"><i class="icon ion-ios-phone-portrait"></i></span>
						</div>
						<h5>API</h5>
						<p>Bisa di integrasikan di platform sosial media atau yoututbe.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content">
						<div class="serv-icon">
							<i class="icon ion-ios-train"></i>
							<span class="clone-icon"><i class="icon ion-ios-desktop"></i></span>
						</div>
						<h5>Uji coba</h5>
						<p>Anda bisa menguji coba langsung di website kami.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end services -->

	<!-- words -->
	<div class="words-section section-bottom-only">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-md-12 col-sm-12 align-self-center">
						<div class="words-wrap">
							<h4>Maksimalkan partisipasi dengan analisis sentiment.</h4>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- end words -->


	<!-- contact -->
	<div id="contact" class="contact section-bottom-only">
		<div class="container">
			<div class="section-title">
				<h5 class="title-top">Uji coba</h5>
				<h3>Klasifikasikan pesan anda</h3>
			</div>
			<div class="content">

					<div class="col-md-12 col-sm-12">
						<div class="content">
							<form class="contact-form" id="contact-form" method="post">
								<div class="row">
									<div class="col">
										<div id="message-field">
                                            {% csrf_token %}
											<textarea cols="30" rows="5" id="form-message" name="message" placeholder="Message"></textarea>
										</div>
									</div>
								</div>
								<button class="button btn-block" type="submit" id="submit" name="submit">Send Message</button>
							</form>

                        </div>
                        <div class="content" id="textIframe">
                            <div id="mainmodal">

                                <div class="modalconent">
                                      <span id="classification" class="breakingtitle">
                                      </span>
                                      <marquee id="message_text" class="marquee" behavior="scroll" direction="left">
                                      </marquee>
                                </div>

                            </div>
                            <button id="copyPaste" class="button btn-block" data-clipboard-text="Text yang akan disalin" hidden>Copy ke Clipboard</button>
                        </div>

					</div>
				</div>
			</div>
		</div>
	</div>


{#	<!-- end contact -->#}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>


{% endblock content %}

{% block domready %}

    const url = "{% url "broadcast:home" %}";
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin',
    }
    var message = document.querySelector('#form-message').value;

    document.querySelector('#submit').addEventListener('click', function(e) {
        e.preventDefault();
        var message = document.querySelector('#form-message').value;

        var formData = new FormData();
        formData.append('message', message);
        options.body = formData;


        fetch(url, options).then(response => response.json()).then(data => {
            if (data['status'] == 'ok') {
{#                document.querySelector('.modalconent').hidden = false;#}
                document.querySelector('#classification').innerHTML = data['classification'];
                document.querySelector('#message_text').innerHTML = data['message'];
                console.log(data['message']);
                console.log(data['classification']);
                // copy to clipboard
                document.querySelector('#copyPaste').hidden = false;
                // change box shadow color
                if (data['classification'] == 'Positive') {
                    document.querySelector('.modalconent').style.boxShadow = '0 0 10px 0 green';
                    document.querySelector('#classification').style.color = 'green';
                } else if (data['classification'] == 'Negative') {
                    document.querySelector('.modalconent').style.boxShadow = '0 0 10px 0 red';
                    document.querySelector('#classification').style.color = 'red';
                } else {
                    document.querySelector('.modalconent').style.boxShadow = '0 0 10px 0 blue';
                    document.querySelector('#classification').style.color = 'blue';
                }

                // change data-clipboard-text with the html code in the class mainmodal with css style
                document.querySelector('#copyPaste').setAttribute('data-clipboard-text', document.querySelector('#mainmodal').innerHTML);


            } else {
                document.querySelector('#mainmodal').hidden = true;
                document.querySelector('#message-field').innerHTML = data['message'];
            }

        })
    });



    var clipboard = new ClipboardJS('#copyPaste');
    clipboard.on('success', function(e) {
        document.querySelector('#copyPaste').innerHTML = 'Copied';

        setTimeout(function() {
            document.querySelector('#copyPaste').innerHTML = 'Copy ke Clipboard';
        }, 2000);

    });
    clipboard.on('error', function(e) {
        console.log(e);
        console.log('Text not copied to clipboard');
    });

{% endblock domready %}